:root {
  --background-colour: #000000;
}

@mixin pre {
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
}

html {
  background: var(--background-colour);
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  flex-direction: column;
  max-width: 500px;
}

.title {
  font-size: 20px;
  margin-bottom: 2rem;

  &__display {
    @include pre;
    font-size: 14px;
  }
}

.main {
  &__list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
}
